* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --jet-color: #18181B;
  --ruby-color: #D62828;
}

body {
  width: 100%;
  height: 100%;
}

/* HOME */
#home-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: hidden;
  background-color: var(--jet-color);
}

#text-container, #img-container {
  display: flex;
  width: 50%;
  height: 100%;
}

#text-container {
  flex-direction: column;
  padding: 0 50px;
}

#img-container {
  justify-content: center;
}

#text-container h1, #text-container p, #text-container a {
  font-family: 'Muli', sans-serif;
  color: #FFF;
}

#text-container h1 {
  font-size: 4em;
  font-weight: 700;
}

#text-container p {
  font-size: 25px;
  margin-bottom: 20px;
}

#img-container img {
  width: 300px;
  height: 640px;
}

#text-container a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  background-color: var(--jet-color);
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  border: 2px solid #FFF;
  border-radius: 3px;
}

.fa-chevron-down {
  animation: bounce 2s ease-out infinite;
}

/* MENU */
.fixed-menu {
  position: fixed;
  top: auto;
  right: -100px;
  width: 100px;
  height: 200px;
  background: #FFF;
  z-index: 1;
}

.fixed-menu ul {
  display: flex;
  flex-direction: column;
}

.fixed-menu ul li {
  display: flex;
  position: relative;
  top: auto;
  right: 50px;
  list-style: none;
  width: 120px;
  height: 50px;
  background-color: #D62828;
  transition: right 0.3s ease-out;
}

.fixed-menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  font-size: 0;
  font-weight: 800;
  color: #FFF;
}

.fixed-menu ul li i {
  position: absolute;
  margin: 17px;
  color: #FFF;
}

.fixed-menu ul li:hover {
  right: 120px;
}

.fixed-menu ul li:hover i {
  display: none;
}

.fixed-menu ul li:hover a {
  font-size: 18px;
}

/* HISTORY */
#history-container {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  overflow: hidden;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.title-container h2 {
  font-family: 'Muli', sans-serif;
  font-size: 3em;
  color: var(--ruby-color);
  border-bottom: 2px solid var(--jet-color);
}

/* TIMELINE */
.content {
  font-family: 'Montserrat', sans-serif;
}

#timeline {
  position: relative;
  margin: 0 auto;
  width: 70%;
}

#timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: var(--jet-color);
}

#timeline ul li {
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  list-style: none;
}

#timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

#timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
}

#timeline ul li:nth-child(odd)::before, #timeline ul li:nth-child(even)::before {
  content: '';
  position: absolute;
  top: 25px;
  width: 10px;
  height: 10px;
  background-color: var(--ruby-color);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(214, 40, 40, 0.2);
}

#timeline ul li:nth-child(odd)::before {
  right: -6px;
}

#timeline ul li:nth-child(even)::before {
  left: -4px;
}  

#timeline ul li h3 {
  font-weight: 600;
  color: var(--ruby-color);
}

#timeline ul li p {
  margin: 10px 0;
}

#timeline ul li .time h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

#timeline ul li:nth-child(odd) .time,
#timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  padding: 8px 16px;
  background-color: var(--ruby-color);
  color: #FFF;
  border-radius: 16px;
  box-shadow: 0 0 0 3px var(--ruby-color);
}

#timeline ul li:nth-child(odd) .time {
  right: -95px;
}

#timeline ul li:nth-child(even) .time {
  left: -95px;
}

/* PREMIOS */
#premios-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  overflow: hidden;
  background-color: var(--jet-color);
  background-image: url(./assets/images/mj-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 70px 0;
}

.card-container {
  position: relative;
  box-shadow: -2px 9px 30px 0px rgba(24,24,27,1);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  height: 350px;
  border-radius: 4px;
  background-color: var(--jet-color);
  transition: all 0.2s linear;
}

.card-container:hover .card {
  opacity: 0;
}

.card-container:hover .desc{
  opacity: 1;
}

.card h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 7em;
  font-weight: 600;
  float: left;
  margin: 10px auto;
  color: #FFF;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

.logo img {
  width: 45%;
  height: 68%;
}

.desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 350px;
  border-radius: 4px;
  background-color: var(--jet-color);
  opacity: 0;
  transition: all 0.2s linear;
}

.desc p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  color: #FFF;
  text-align: center;
}

/* SAIBA MAIS */
#saiba-mais-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--jet-color);
}

#saiba-mais-container p {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  color: #FFF;
}

#saiba-mais-container p a {
  text-decoration: none;
  color: var(--ruby-color);
}

#saiba-mais-container p a:hover {
  background-color: #FFF;
  color: var(--jet-color);
}

/* MEDIA QUERIES */
@media screen and (max-width: 760px) {
  .fixed-menu {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  #premios-container {
    background-position-x: -500px;
    background-position-y: -130px;
    background-size: initial;
  }

  #cards-container {
    margin: 30px 0;
  }
  .card-container {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 562px) {
  #home-container {
    height: 600px;
  }

  #text-container {
    padding: 0 10px;
  }

  #img-container img {
    width: 170px;
    height: 450px;
    margin-top: 150px;
  }

  #timeline {
    width: 100%;
  }

  #timeline ul li {
    padding: 20px 10px;
  }

  .card-container {
    margin-bottom: 30px;
  }

  #cards-container {
    margin: 0 0 30px;
  }

  #premios-container {
    background-position-x: -1000px;
    background-position-y: 0;
    background-size: cover;
  }

  #saiba-mais-container {
    text-align: center;
  }
}

/* ANIMATIONS */
@keyframes bounce {
  0%, 30%, 50%, 70%, 100% {
    transform: translateY(0px);
  }40%, 60% {
    transform: translateY(5px);
  }
}